.aucodi-content
    position: relative
    transition: all .25s
    max-height: 100vh
    overflow: hidden

    &__wrap
        height: 100%
        max-height: 100vh

    &__main
        transition: all .25s

        &--padding
            padding-top: 158px
            height: calc(100vh - 158px)
            height: calc(100 * var(--vh) - 158px)

    &--transformed
        transform: translateX(240px)