.nimbly-content
    position: relative
    transition: all .25s
    min-height: 100vh
    overflow: hidden

    &__wrap
        height: 100%
        min-height: 100vh

    &__main
        transition: all .25s
        &--padding
            padding-top: 158px

    &--transformed
        transform: translateX(240px)