$text: #212121
$subtext: #757575
    
.wrap
    padding-left: 0
    margin: 0
    list-style: none
    padding-top: .25rem
    height: calc(100vh - 230px)
    height: calc(var(--vh, 1vh) * 100 - 230px)

.item
    padding: 14px 1rem 15px
    color: $subtext

    &:not(:last-child) 
        position: relative 

        &::after
            content: ''
            position: absolute
            bottom: 0
            height: 1px
            width: calc(100% - 2rem)
            background: rgba(189, 189, 189, 0.5)

.itemContainer
    display: flex
    align-items: flex-end

    &:first-child
        padding-bottom: 10px

.title
    color: $text
    font-size: 18px
    line-height: 1
    font-weight: 400 
    display: inline-block
    vertical-align: middle

.label
    color: $subtext
    text-align: right
    font-size: 14px
    line-height: 1.2
    margin-left: auto
    display: inline-block
    vertical-align: bottom

.date
    font-size: 14px
    line-height: 1.4

.duration
    font-weight: 300
    font-size: 16px
    line-height: 14px
    text-align: right
    margin-left: auto